Repository GanduriKumar/multimodel-policy-mgmt: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pytest, frontend-eslint, frontend-vitest

.pre-commit-config.yaml:

minimum_pre_commit_version: '3.5.0'

repos:
  # General housekeeping hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict

  # Python lint/format: Ruff (fast, includes isort-like import rules)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        name: ruff (backend)
        args: ["--fix", "--exit-non-zero-on-fix"]
        files: ^backend/.*\.py$
      - id: ruff-format
        name: ruff format (backend)
        files: ^backend/.*\.py$

  # Local hooks
  - repo: local
    hooks:
      # Run backend tests with pytest (only when Python files under backend/ are staged)
      - id: backend-pytest
        name: backend pytest
        entry: python -m pytest -q
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
        stages: [commit, push]

      # Optional: Frontend ESLint (only runs if frontend/package.json exists and frontend files are staged)
      - id: frontend-eslint
        name: frontend eslint (optional)
        language: python
        entry: python -c "import os, subprocess, sys; p='frontend/package.json'; sys.exit(0) if not os.path.exists(p) else sys.exit(subprocess.call(['npm','--prefix','frontend','run','-s','lint']))"
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [commit]

      # Optional: Frontend tests via Vitest (non-watch, only when frontend files are staged)
        
      - id: frontend-vitest
        name: frontend vitest (optional)
        language: python
        entry: python -c "import os, subprocess, sys; p='frontend/package.json'; sys.exit(0) if not os.path.exists(p) else sys.exit(subprocess.call(['npm','--prefix','frontend','run','-s','test','--','--run']))"
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [commit]

UI changes
  EVIDENCE_DISPLAY_ENHANCEMENT.md
  backend/app/services/reports/compliance_renderers.py
  backend/test_evidence_display.py
  backend/test_outputs/eu_ai_act_evidence_test.csv
  backend/test_outputs/nist_ai_rmf_evidence_test.csv
  backend/test_outputs/nist_privacy_evidence_test.csv
  docs/RegulatoryReportsGuide.md
  frontend/src/index.css
Due: backend-pytest

llm provider option updates
  .gitignore
  MULTI_PROVIDER_ARCHITECTURE.md
  MULTI_PROVIDER_IMPLEMENTATION.md
  MULTI_PROVIDER_QUICK_REF.md
  README.md
  backend/MULTI_PROVIDER_LLM.md
  backend/SAMPLE_APP_MIGRATION.md
  backend/SampleAppIntegration_v2.py
  backend/app.db
  backend/app/api/routes/audit.py
  backend/app/api/routes/protect_generate.py
  backend/app/core/config.py
  backend/app/core/deps.py
  backend/app/schemas/audit.py
  backend/app/schemas/generation.py
  backend/app/schemas/protect.py
  backend/app/services/governed_generation_service.py
  backend/app/services/llm_gateway.py
  backend/examples/multi_provider_example.py
  backend/governance_ledger.jsonl
  backend/requirements.txt
  backend/test_multi_provider.py
  frontend/src/hooks/useAudit.ts
  frontend/src/pages/Audit.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

llm provider updstes
  backend/app.db
  backend/governance_ledger.jsonl
Due: none

evidence references in decision logs
  backend/SampleAppIntegration_v2.py
  backend/app.db
  backend/app/api/routes/audit.py
  backend/app/core/deps.py
  backend/app/schemas/audit.py
  backend/app/services/decision_service.py
  backend/app/services/governed_generation_service.py
  backend/app/services/risk_engine.py
  backend/governance_ledger.jsonl
  frontend/src/hooks/useAudit.ts
  frontend/src/pages/Audit.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

evidence related changes and doc updates
  COMPLIANCE_GAP_ANALYSIS.md
  COMPLIANCE_IMPLEMENTATION_SUMMARY.md
  DecisionsReportsPlan.md
  EVIDENCE_DISPLAY_ENHANCEMENT.md
  IMPLEMENTATION_PROGRESS.md
  LLM_INTENT_CLASSIFICATION.md
  MULTI_PROVIDER_ARCHITECTURE.md
  MULTI_PROVIDER_IMPLEMENTATION.md
  MULTI_PROVIDER_QUICK_REF.md
  PendingChanges.md
  README.md
  UserGuide.md
  frontend/src/hooks/useProtect.ts
  frontend/src/pages/Protect.tsx
  regulatory_compliance_implementation_plan.md
Due: frontend-eslint, frontend-vitest

updates
  .vscode/settings.json
Due: none

slide generator
  .github/prompts/slidegenerator.prompt.md
Due: none

updates
  .gitignore
  backend/requirements.txt
  docs/generate_slide_deck.py
Due: none

Updates slide generator
  .github/prompts/slidegenerator.prompt.md
  docs/generate_slide_deck_pptx.py
Due: none

docs: Add code structure review and refactoring guidance
  docs/READ_WRITE_OPERATIONS_REFERENCE.md
  docs/REFACTORING_PLAN.md
Due: none

docs: Add comprehensive MCP server design and architecture
  docs/MCP_SERVER_DESIGN.md
Due: none

docs: Add MCP + AgentOps ecosystem integration strategy
  docs/MCP_AGENTOPS_INTEGRATION.md
Due: none

docs: Add strategic alignment summary for Code + MCP + AgentOps
  docs/STRATEGIC_ALIGNMENT_SUMMARY.md
Due: none

docs: Add implementation guides for code refactoring and MCP server
  docs/CODE_REFACTORING_IMPLEMENTATION.md
  docs/MCP_SERVER_IMPLEMENTATION.md
Due: none

Add extended MCP server implementation for 100% backend coverage
  docs/MCP_FUNCTIONALITY_AUDIT.md
  docs/MCP_SERVER_EXTENDED_IMPLEMENTATION.md
Due: none

Add code quality standards coverage analysis
  docs/REFACTORING_VS_QUALITY_STANDARDS.md
Due: none

Extend refactoring plan to address all code quality standards (100% coverage)
  docs/CODE_REFACTORING_IMPLEMENTATION.md
Due: none
