Repository GanduriKumar/multimodel-policy-mgmt: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pytest, frontend-eslint, frontend-vitest

.pre-commit-config.yaml:

minimum_pre_commit_version: '3.5.0'

repos:
  # General housekeeping hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict

  # Python lint/format: Ruff (fast, includes isort-like import rules)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        name: ruff (backend)
        args: ["--fix", "--exit-non-zero-on-fix"]
        files: ^backend/.*\.py$
      - id: ruff-format
        name: ruff format (backend)
        files: ^backend/.*\.py$

  # Local hooks
  - repo: local
    hooks:
      # Run backend tests with pytest (only when Python files under backend/ are staged)
      - id: backend-pytest
        name: backend pytest
        entry: python -m pytest -q
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
        stages: [commit, push]

      # Optional: Frontend ESLint (only runs if frontend/package.json exists and frontend files are staged)
      - id: frontend-eslint
        name: frontend eslint (optional)
        language: python
        entry: python -c "import os, subprocess, sys; p='frontend/package.json'; sys.exit(0) if not os.path.exists(p) else sys.exit(subprocess.call(['npm','--prefix','frontend','run','-s','lint']))"
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [commit]

      # Optional: Frontend tests via Vitest (non-watch, only when frontend files are staged)
        
      - id: frontend-vitest
        name: frontend vitest (optional)
        language: python
        entry: python -c "import os, subprocess, sys; p='frontend/package.json'; sys.exit(0) if not os.path.exists(p) else sys.exit(subprocess.call(['npm','--prefix','frontend','run','-s','test','--','--run']))"
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        stages: [commit]

Reviewed and tested backend. Frontend pending
  README.md
  backend/CreatePolicy.md
  backend/Deploy&Integrate.md
  backend/Makefile
  backend/Makefile.md
  backend/app/api/router.py
  backend/app/api/routes/audit.py
  backend/app/api/routes/evidence.py
  backend/app/api/routes/policies.py
  backend/app/api/routes/protect.py
  backend/app/core/contracts.py
  backend/app/core/errors.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/models/decision_log.py
  backend/app/models/evidence_item.py
  backend/app/models/policy.py
  backend/app/models/policy_version.py
  backend/app/models/request_log.py
  backend/app/models/risk_score.py
  backend/app/models/tenant.py
  backend/app/repos/audit_repo.py
  backend/app/repos/evidence_repo.py
  backend/app/repos/policy_repo.py
  backend/app/repos/tenant_repo.py
  backend/app/tools/run_policy.py
  backend/app/tools/run_risk.py
  backend/requirements.txt
Due: backend-pytest

README.md update for backend deployment and integration
  README.md
Due: none

backend Integration example
  backend/SampleAPPIntegration.md
  backend/SampleAppIntegration.py
Due: backend-pytest

with enhancements for mkt gap
  backend/app/api/router.py
  backend/app/api/routes/traces.py
  backend/app/models/evidence_bundle.py
  backend/app/models/policy_approval.py
  backend/app/schemas/evidence_bundle.py
  backend/app/services/compliance_export.py
  backend/app/services/governance_ledger.py
  backend/app/services/groundedness_engine.py
  backend/app/services/policy_workflow.py
  backend/app/services/rag_proxy.py
Due: backend-pytest

with further changes to address mkt gaps in backend
  README.md
  backend/CreatePolicy.md
  backend/Deploy&Integrate.md
  backend/SampleAPPIntegration.md
  backend/SampleAppIntegration.py
  backend/app/api/router.py
  backend/app/api/routes/protect_generate.py
  backend/app/models/evidence_item.py
  backend/app/schemas/generation.py
  backend/app/services/governance_ledger.py
  backend/app/services/governed_generation_service.py
  backend/app/services/groundedness_engine.py
  backend/app/services/llm_gateway.py
  backend/app/services/rag_proxy.py
  backend/requirements.txt
  backend/tests/test_governance_ledger.py
  backend/tests/test_governed_generation_service_unit.py
Due: backend-pytest

Further changes to backend to close mkt gap functionality
  README.md
  backend/Deploy&Integrate.md
  backend/SampleAPPIntegration.md
  backend/app/api/routes/protect_generate.py
  backend/app/core/deps.py
  backend/app/services/governed_generation_service.py
  backend/app/services/llm_gateway.py
  backend/app/services/response_safety_engine.py
  backend/app/tools/verify_ledger.py
  backend/tests/test_api_protect_generate.py
Due: backend-pytest

workig E2E version with frontend fixes and document updates.
  .gitignore
  README.md
  backend/CreatePolicy.md
  backend/Deploy&Integrate.md
  backend/SampleAPPIntegration.md
  frontend/env.d.ts
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend-eslint, frontend-vitest

addln changes
  PendingChanges.md
Due: none

route changes for UI to work correctly
  backend/app.db
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/evidence.py
  backend/app/core/__init__.py
  backend/app/core/deps.py
  backend/app/models/__init__.py
  backend/app/models/evidence_item.py
  backend/app/models/request_log.py
  backend/app/repos/__init__.py
  backend/app/repos/audit_repo.py
  backend/app/repos/evidence_repo.py
  backend/app/schemas/__init__.py
  backend/app/schemas/evidence.py
  backend/pyproject.toml
  frontend/src/api/client.ts
Due: backend-pytest, frontend-eslint, frontend-vitest

with further routes changes for UI to work
  backend/app/api/routes/traces.py
  backend/app/core/deps.py
Due: backend-pytest

updated README.md
  README.md
Due: none

Updated README.md
  README.md
Due: none

With revised updates
  README.md
Due: none

UserGuide
  .github/prompts/codereview.prompt.md
  UserGuide.md
Due: none

policy creation and error msg updates
  .github/prompts/app_dev.prompt.md
  .github/prompts/docsupdate.prompt.md
  .github/prompts/interview.prompt.md
  .github/prompts/review_fixbugs.prompt.md
  Screenshot 2026-01-15 105838.png
  app.db
  backend/app.db
  backend/app/api/routes/policies.py
  backend/app/api/routes/protect.py
  backend/app/main.py
  backend/app/repos/policy_repo.py
  backend/app/schemas/protect.py
  backend/app/services/decision_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/NavBar.tsx
  frontend/src/hooks/usePolicies.ts
  frontend/src/hooks/useProtect.ts
  frontend/src/pages/Home.tsx
  frontend/src/pages/Policies.tsx
  frontend/src/pages/Protect.tsx
  scripts/start.ps1
  scripts/stop.ps1
Due: backend-pytest, frontend-eslint, frontend-vitest

try protect changes and meaningful updates
  backend/app.db
  backend/app/api/routes/policies.py
  backend/app/api/routes/protect.py
  backend/app/core/deps.py
  backend/app/repos/audit_repo.py
  backend/app/services/governed_generation_service.py
  frontend/index.html
  frontend/src/api/client.ts
  frontend/src/components/NavBar.tsx
  frontend/src/hooks/usePolicies.ts
  frontend/src/index.css
  frontend/src/pages/Home.tsx
  frontend/src/pages/Policies.tsx
  frontend/src/pages/Protect.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

decision reporting and formatting
  backend/app.db
  backend/app/schemas/policy_format.py
  backend/app/services/decision_service.py
  backend/app/services/policy_engine.py
  frontend/src/pages/Protect.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

userguide and benefit of risk updates
  UserGuide.md
  app_test.py
  backend/SampleAppIntegration.py
  backend/app.db
  backend/app/services/decision_service.py
Due: backend-pytest

user guide updates
  UserGuide.md
  app_test.py
  backend/app.db
Due: none

simpler evidence type check
  backend/app.db
  backend/app/api/routes/evidence.py
  backend/app/api/routes/protect.py
  backend/app/repos/evidence_repo.py
  backend/app/services/policy_engine.py
  frontend/src/api/client.ts
  frontend/src/hooks/useEvidence.ts
  frontend/src/pages/Evidence.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

evidence and REST API change for policy enforcement
  app_test.py
  backend/SampleAppIntegration.py
  backend/app.db
  backend/app/api/router.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/audit.py
  backend/app/api/routes/maintenance.py
  backend/app/api/routes/protect.py
  backend/app/core/patterns.py
  backend/app/schemas/policy_format.py
  backend/app/services/policy_engine.py
  backend/app/services/risk_engine.py
  frontend/src/App.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/pages/Admin.tsx
  frontend/src/pages/Audit.tsx
  frontend/src/pages/Evidence.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Protect.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

policy intent changes
  backend/app.db
  backend/app/api/router.py
  backend/app/core/patterns.py
  backend/app/schemas/policy_format.py
  backend/app/services/policy_engine.py
  backend/app/services/risk_engine.py
Due: backend-pytest

savings mid flight policy report changes
  Screenshot 2026-01-15 105838.png
  backend/app.db
  backend/app/services/reports/policy_changes.py
  docs/AdminPolicyChangesReportPlan.md
  docs/AdminPolicyChangesReportPlan_v2.md
  docs/prompts/Prompt1_PolicyChangesEvents.md
  docs/prompts/Prompt2_CanonicalJson_SHA256.md
  docs/prompts/Prompt3_DiffSummaries.md
  docs/prompts/Prompt4_TimePresets_TZ.md
  docs/prompts/Prompt5_Renderers_CSV_NDJSON_JSON.md
  docs/prompts/Prompt6_HTMLRenderer.md
  docs/prompts/Prompt7_API_Endpoint.md
  docs/prompts/Prompt8_AdminUI_Reports.md
  docs/prompts/Prompt9_Documentation.md
Due: backend-pytest

Reports for policy changes
  backend/app/api/router.py
  backend/app/api/routes/reports.py
  backend/app/core/deps.py
  backend/app/services/reports/canonicalization.py
  backend/app/services/reports/diffing.py
  backend/app/services/reports/html_renderer.py
  backend/app/services/reports/policy_changes.py
  backend/app/services/reports/renderers.py
  backend/app/services/reports/timeutils.py
  backend/reports/policy-changes_t1_from2026-01-15T03_56_56.569225Z_to2026-01-16T03_56_56.569225Z_html.html
  backend/reports/policy-changes_t1_from2026-01-15T04_01_24.019022Z_to2026-01-16T04_01_24.019022Z_json.json
  backend/reports/policy-changes_t1_from2026-01-15T04_01_35.717497Z_to2026-01-16T04_01_35.717497Z_ndjson.ndjson
  backend/reports/policy-changes_t1_from2026-01-15T04_01_38.453015Z_to2026-01-16T04_01_38.453015Z_csv.csv
  backend/reports/policy-changes_t1_from2026-01-15T04_02_02.644980Z_to2026-01-16T04_02_02.644980Z_html.html
  backend/tests/test_api_reports_policy_changes.py
  backend/tests/test_reports_canonicalization.py
  backend/tests/test_reports_diffing.py
  backend/tests/test_reports_html_renderer.py
  backend/tests/test_reports_policy_changes.py
  backend/tests/test_reports_renderers.py
  backend/tests/test_reports_timeutils.py
  frontend/src/pages/Admin.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

Decision, generate and download
  DecisionsReportsPlan.md
  backend/app/api/routes/reports.py
  backend/app/services/reports/decisions.py
  backend/app/services/reports/decisions_html_renderer.py
  backend/app/services/reports/decisions_renderers.py
  backend/reports/decisions_t1_from2026-01-15T05_25_24.770960Z_to2026-01-16T05_25_24.770960Z_html.html
  backend/reports/decisions_t1_from2026-01-15T05_26_50.150699Z_to2026-01-16T05_26_50.150699Z_ndjson.ndjson
  frontend/src/pages/Admin.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

updates to Dashboard page
  .gitignore
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/index.css
  frontend/src/pages/Admin.tsx
  frontend/src/pages/Dashboard.tsx
Due: frontend-eslint, frontend-vitest

tenant ID hidden in UI and default to 1 in APIs
  backend/SampleAppIntegration.py
  backend/app/schemas/protect.py
  frontend/src/pages/Audit.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Policies.tsx
  frontend/src/pages/Protect.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

COlor styling changes
  frontend/src/components/NavBar.tsx
  frontend/src/index.css
  frontend/src/pages/Admin.tsx
  frontend/src/pages/Home.tsx
Due: frontend-eslint, frontend-vitest

styling changes
  frontend/src/components/NavBar.tsx
  frontend/src/index.css
  frontend/src/pages/Home.tsx
Due: frontend-eslint, frontend-vitest

doc updates
  README.md
  UserGuide.md
  backend/Deploy&Integrate.md
  backend/SampleAPPIntegration.md
Due: none

WIP changes for regulatpry compliance
  IMPLEMENTATION_PROGRESS.md
  backend/app/core/regulatory_templates.py
  backend/app/models/decision_log.py
  backend/app/repos/audit_repo.py
  backend/app/schemas/policy_format.py
  backend/app/services/compliance_audit_service.py
  backend/app/services/compliance_rule_generator.py
  backend/app/services/compliance_validator.py
  backend/tests/test_compliance_audit_service.py
  backend/tests/test_compliance_rule_generator.py
  backend/tests/test_compliance_validator.py
  backend/tests/test_decision_log_enhanced.py
  backend/tests/test_policy_format_regulatory.py
  backend/tests/test_regulatory_templates.py
  regulatory_compliance_implementation_plan.md
Due: backend-pytest

regulatory policies in policy files
  IMPLEMENTATION_PROGRESS.md
  backend/app.db
  backend/app/api/routes/policies.py
  backend/app/api/routes/protect.py
  backend/app/api/routes/reports.py
  backend/app/core/deps.py
  backend/app/models/decision_log.py
  backend/app/models/review_decision.py
  backend/app/models/review_request.py
  backend/app/models/tenant.py
  backend/app/schemas/policy_format.py
  backend/app/schemas/protect.py
  backend/app/services/decision_service.py
  backend/app/services/eu_ai_act_reporter.py
  backend/app/services/governed_generation_service.py
  backend/app/services/human_oversight_service.py
  backend/app/services/nist_ai_rmf_reporter.py
  backend/app/services/nist_privacy_reporter.py
  backend/app/services/policy_engine.py
  backend/app/services/rag_proxy.py
  backend/app/services/reports/decisions.py
  backend/tests/conftest.py
  backend/tests/test_api_protect.py
  backend/tests/test_compliance_reporters.py
  backend/tests/test_governed_generation_service_unit.py
  backend/tests/test_human_oversight_service.py
  backend/tests/test_reports_diffing.py
  backend/tests/test_review_models.py
  docs/PolicyChangesReportsGuide.md
Due: backend-pytest

updated policies to include regulatory requirements
  backend/app.db
  backend/app/services/risk_engine.py
Due: backend-pytest

regulatory compliance updates
  backend/app.db
  backend/app/api/router.py
  backend/app/api/routes/protect_generate.py
  backend/app/api/routes/reports.py
  backend/app/models/review_request.py
  backend/app/services/reports/compliance_renderers.py
  backend/app/services/risk_engine.py
  backend/create_sample_policy.py
  frontend/src/api/client.ts
  frontend/src/hooks/useReports.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Policies.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

intent classification changes
  .gitignore
  COMPLIANCE_GAP_ANALYSIS.md
  LLM_INTENT_CLASSIFICATION.md
  app.db
  backend/app.db
  backend/app/services/llm_gateway.py
  backend/app/services/risk_engine.py
  backend/test_llm_intent.py
  backend/test_protect_llm.py
Due: backend-pytest

updated dashboard a reporting
  COMPLIANCE_IMPLEMENTATION_SUMMARY.md
  UserGuide.md
  app.db
  backend/SampleAppIntegration.py
  backend/app.db
  backend/app/api/routes/audit.py
  backend/app/schemas/audit.py
  backend/app/services/decision_service.py
  backend/app/services/reports/decisions.py
  backend/check_duplicates.py
  backend/create_sample_policy.py
  backend/migrate_db.py
  backend/test_compliance_reports.py
  backend/test_pii_enforcement.py
  backend/verify_policy.py
  frontend/src/hooks/useAudit.ts
  frontend/src/pages/Audit.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

reporting updates
  backend/app/api/routes/reports.py
  frontend/src/pages/Dashboard.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

regulatpry decision and UI format changes
  backend/app.db
  backend/create_sample_policy.py
Due: backend-pytest

data and time format per timezone
  app.db
  backend/app.db
  backend/app/models/request_log.py
  backend/app/repos/audit_repo.py
  backend/backfill_decisions.py
  backend/backfill_decisions_exact.py
  backend/backfill_decisions_internal.py
  backend/check_active_version.py
  backend/check_decision_7.py
  backend/check_missing_decisions.py
  backend/check_schema.py
  backend/drop_request_hash_constraint.py
  backend/migrate_remove_hash_constraint.py
  frontend/src/pages/Audit.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Policies.tsx
Due: backend-pytest, frontend-eslint, frontend-vitest

db updates
  .gitignore
  app.db
  backend/app.db
  backend/app/db/session.py
Due: backend-pytest
